name: Shared - Continuous Integration for common tasks

on:
  workflow_call:

jobs:
  continuous-integration:
    # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
    permissions:
      id-token: write
      contents: read
      security-events: write
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@0264395060bbde4ec3276b6dca84f0db828070f3 # 0.17.0
    with:
      build: '{"artifact":"packages/*/dist"}'
