name: Shared - Continuous Integration for common tasks

on:
  workflow_call:
    outputs:
      build-artifact-id:
        description: "The ID of the build artifact"
        value: ${{ jobs.continuous-integration.outputs.build-artifact-id }}

permissions: {}

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@c9d9d041ba4ef35695ee469c4782fa6a8bbebbcc # 0.21.2
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    with:
      build: '{"artifact":"packages/*/dist"}'
      test: |
        {"coverage": "codecov"}
